<div class="container">
  <h1>Char</h1>
  <!--<div class="row">
    <div class="col-md-8">
      <a (click)="canvas.clearRect()" class="btn btn-outline-warning">Clear</a>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-8">
      <div class="center">
        <app-canvas #canvas></app-canvas>
      </div>
    </div>
    <div class="col-md-4">
      <div class="center">
        <h1>Our guess:</h1>
        <span class="result"><b>{{maxData}}</b></span>
        <hr>
        <h3>Other guesses:</h3>
        <table class="table">
          <tr>
            <td>#</td>
            <td>Activation</td>
          </tr>
          <tr *ngFor="let activation of lastData">
            <td>{{activation[0]}}</td>
            <td>{{activation[1]*100 | number:'1.1-1'}}%</td>
          </tr>
        </table>
      </div>
    </div>
  </div>-->


  <div class="row" style="margin-top: 400px;">
    <div class="col-md-8">
      <div class="center">
        <app-canvas-camera></app-canvas-camera>
      </div>
    </div>
  </div>
</div>
